/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
:root {
  --main-font: "Roboto", sans-serif;
  --button-font: "Montserrat", sans-serif;
  --main-color: #202020;
  --text-color: #ffffff;
  --paragraph-color: #f65282;
  --secondary-color: #2d2727;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
  background-color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 72px;
  line-height: 84px;
}

p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 100;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.logo {
  max-width: 200px;
}

nav ul {
  padding: 20px;
  margin: 0;
}

nav li {
  display: inline;
  text-decoration: none;
  font-size: 16px;
  line-height: 30px;
  margin-left: 20px;
}

nav a:hover {
  transition: all 100ms ease-in-out;
  color: var(--paragraph-color);
}

.btn-branding {
  font-family: var(--button-font);
  font-weight: bold;
  padding: 15px 40px;
  background-color: var(--text-color);
  color: var(--main-color);
  border-radius: 50px;
  transition: all 150ms ease-in-out;
}

.hero {
  text-align: center;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 120px;
  bottom: 50px;
  left: 0;
  right: 0;
}

h1,
h2,
.btn-branding {
  text-transform: uppercase;
}

.hero-text h2 {
  font-size: 24px;
  line-height: 28px;
}

.recentProject {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
}

#projects .btn-branding {
  border-radius: 10px;
  padding: 5px 20px;
}

.content-container {
  margin-top: 20px;
}

.content-container img {
  width: 100%;
}

.content-container h1 {
  font-size: 64px;
  line-height: 75px;
}
.content-container h2 {
  font-size: 18px;
  color: var(--paragraph-color);
}

.styles-container .btn-branding {
  padding: 5px 15px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  transition: all 100ms ease-in-out;
}

.styles-container .btn-branding:hover {
  background-color: var(--text-color);
  color: var(--main-color);
}

.styles-container .content-container {
  padding: 20px 80px;
  margin-top: 80px;
}

.btn-social {
  color: var(--text-color);
  background-color: var(--main-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.btn-social:hover {
  color: var(--paragraph-color);
}

.client-content h2 {
  font-size: 24px;
  line-height: 28px;
  color: var(--text-color);
}

.contact-content p {
  font-weight: 400;
}

.contact-content .btn-contact-page {
  color: var(--text-color);
  transition: all 100ms ease-in-out;
}

.contact-content .btn-contact-page:hover {
  border: 1px solid var(--text-color);
}

footer {
  background-color: var(--secondary-color);
  margin-top: 100px;
}

footer .social-links {
  padding: 20px 20px 0;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--paragraph-color);
}

footer .footer-content {
  padding: 20px 20px 0;
}

@media (max-width: 960px) {
  h1,
  .content-container h1 {
    font-size: 45px;
    line-height: 1;
  }

  p {
    font-size: 15px;
  }

  .hero-text h2,
  #projects h2 {
    font-size: 18px;
  }

  .btn-branding {
    padding: 10px 20px;
    font-size: 12px;
  }

  footer {
    margin-top: 40px;
  }

  footer .social-links {
    padding: 20px 5px 0;
  }

  footer p {
    font-size: 10px;
    padding-top: 0px;
  }
}

.contact-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--secondary-color);
}

@media (max-width: 576px) {
  #projects h2 {
    text-align: center;
  }

  .hero-text {
    padding: 20px 20px;
    top: 0px;
    bottom: 0px;
    line-height: 10px;
  }

  .hero-text p {
    font-size: 12px;
    line-height: 1;
  }

  .content-container-text {
    margin-top: 30px;
  }

  .content-container-text .btn-contact {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    padding: 20px 10px;
  }

  footer .social-links {
    padding: 20px 2px 0;
  }

  footer p {
    font-size: 10px;
    padding-top: 0px;
  }
}

@media (max-width: 280px) {
  nav li {
    display: inline-block;
    margin: 0px 15px 0px 10px;
  }

  .content-container .styles-container h2 {
    justify-content: center;
  }

  .content-container .styles-container a {
    display: block;
    margin: 10px 10px;
  }

  footer .social-links {
    padding: 20px 2px 0;
  }

  footer p {
    font-size: 5px;
  }
}
