/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-family: "Montserrat", sans-serif;
}
