/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
:root {
  --main-font: "Roboto", sans-serif;
  --button-font: "Montserrat", sans-serif;
  --main-color: #202020;
  --text-color: #ffffff;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
  background-color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 72px;
  line-height: 84px;
}

p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 100;
}

.btn-branding {
  font-family: var(--button-font);
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 40px;
  background-color: var(--text-color);
  color: var(--main-color);
  border-radius: 50px;
}

.hero {
  text-align: center;
  position: relative;
  margin-top: 50px;
}

.hero-text {
  position: absolute;
  top: 120px;
  bottom: 50px;
  left: 0;
  right: 0;
}

.hero-text h1,
h2 {
  text-transform: uppercase;
}

.hero-text h2 {
  font-size: 24px;
  line-height: 28px;
}

.recentProject {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
}

#projects .btn-branding {
  border-radius: 10px;
  padding: 5px 20px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 45px;
    line-height: 1;
  }

  p {
    font-size: 15px;
  }

  .hero-text h2,
  #projects h2 {
    font-size: 18px;
  }

  .btn-branding {
    padding: 10px 20px;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  #projects h2 {
    text-align: center;
  }

.hero {
  margin-top: 10px;
}

  .hero-text {
  padding: 20px 20px;
  top: 0px;
  bottom: 0px;
  line-height: 10px;
}

.hero-text p {
  font-size: 12px;
  line-height: 1;
}

}